* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;

    p {
        font-family: 'Kyiv';
        font-weight: 400;
    }

    .keyword {
        text-decoration: none;
        color: rgb(34, 170, 0);
        transition: all .2s ease;
    }

    .keyword:hover {
        text-decoration: none;
        color: rgb(78, 200, 48);
    }
}

@font-face {
    font-family: 'Kyiv';
    src: url('../fonts/KyivTypeSans-VarGX.ttf') format('truetype');
}

@import "variables";

@import "header";
@import "hero";
@import "page";
@import "footer";

